<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a  routerLink="">Home</a></li>
        <li routerLinkActive="active"><a  routerLink="/delete">Delete</a></li>
        <li routerLinkActive="active"><a  routerLink="/multi">Multiselect</a></li>
        <li routerLinkActive="active"><a  routerLink="/multihttp">Multi</a></li>
        <li routerLinkActive="active"><a  routerLink="/ngx">Ngx</a></li>
        <li routerLinkActive="active"><a  routerLink="/treetable">Tree</a></li>
        <li routerLinkActive="active"><a  routerLink="/primetree">primetree</a></li>
        <li routerLinkActive="active"><a  routerLink="/synctree">synctree</a></li>
        <!-- <li routerLinkActive="active"><a  routerLink="/switch">switch</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
