<div class="clock">
    <span class="hour">{{ hours }}:</span>
    <span class="min">{{ minutes }}:</span>
    <span class="second">{{ seconds }}</span>
  </div>


<div class="example-container mat-elevation-z8">

<div>
    <button mat-raised-button color="primary" (click)="removeSelectedRows()">
        Remove Selected Rows
      </button>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="table table-striped table-dark" matSort>

      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
        {{item.id}}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
        {{item.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
        {{item.description}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item data-toggle="modal" data-target="#myModal2">Add</button>
    <button mat-menu-item data-toggle="modal" data-target="#myModal1" (click)="Edit(item)">Edit</button>
    <button mat-menu-item (click)="openDialog(item.id)">Delete</button>
  </ng-template>
</mat-menu>

<!-- Edit -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="container">


        <form (ngSubmit)="UpdateCollege(f1)" #f1="ngForm">
          <h2 style="margin-left: 80px">Edit</h2>
          <div class="form-group">
            <label>College ID</label>
            <input name="id" [(ngModel)]="collid" class="form-control" style="width: 500px" type="text">

          </div>
          <div class="form-group">
            <label>College Name</label>
            <input name="name" [(ngModel)]="collegename" class="form-control" style="width: 500px" type="text">

          </div>
          <div class="form-group">
            <label>Address</label>
            <input name="description" [(ngModel)]="department" class="form-control" style="width: 500px" type="text">

          </div>

          <div class="form-group">
            <button type="submit" style="width: 100px" class="form-control btn btn-primary">Update</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Add -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="container">


          <form (ngSubmit)="AddCollege(f)" #f="ngForm">
            <h2 style="margin-left: 80px">Add</h2>

            <div class="form-group">
              <label>College Name</label>
              <input name="name" [(ngModel)]="collegename" class="form-control" style="width: 500px" type="text">

            </div>
            <div class="form-group">
              <label>Address</label>
              <input name="description" [(ngModel)]="department" class="form-control" style="width: 500px" type="text">

            </div>

            <div class="form-group">
              <button type="submit" style="width: 100px" class="form-control btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
